body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("bp.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}